<cfapplication name="Trundle" sessionmanagement="Yes" clientmanagement="yes" sessiontimeout="#CreateTimeSpan(0,0,40,0)#">
<cfset application.mode  = "dev">
<cfset session.UserID = 1>
<cfset session.UserCompanyID = 1>
<cfif application.mode  eq "dev">
	<cfset application.db = "dbtrundel">
</cfif>
