<div id="wrapper-footer">
	<div class="foot">
    	<div class="foot-text">Tr<span style="letter-spacing:-5px;">u</span>ndel</div>
	</div>
</div>
<!--MODAL-->
<a  id="ModalLink" href="#animatedModal" style="display:none;"></a>
<div id="animatedModal">
    <div  id="btn-close-modal" class="close-animatedModal"> 
        <div class="close-left"></div>
        <div class="close-right"></div>
    </div>
    <div class="modal-content" id="ModalContent">

    </div>
</div>
<!--MODAL-->