<div id="wrapper-header">
	<div id="main-header" class="object">
		<div class="logo"> <div>Tr<span style="letter-spacing:-5px;">u</span>ndel</div></div>
		<a href="" class="header-item"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
		<a href="" class="header-item"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
		<a href="" class="header-item"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
    </div>
</div>